{
    "nick": "uc_pircbotx2",
    "host": "irc.freenode.net",
    "port": 6697,
    "ssl": true,
    "trigger": "&",
    "channels": [
        "#unity-coders",
        "#unity-coders-bots"
    ],
    "commands": {
        "rand": "uk.co.unitycoders.pircbotx.commands.RandCommand",
	"lart": "uk.co.unitycoders.pircbotx.commands.LartCommand",
	"karma": "uk.co.unitycoders.pircbotx.commands.KarmaCommand",
	"calc": "uk.co.unitycoders.pircbotx.commands.CalcCommand",
	"joins": "uk.co.unitycoders.pircbotx.commands.JoinsCommand",
	"killertrout": "uk.co.unitycoders.pircbotx.commands.KillerTroutCommand",
	"nick": "uk.co.unitycoders.pircbotx.commands.NickCommand" 
    }
}
